@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
:root {
  --body-color: #444;
  --main-color: #1e1b39;
  --primary-color: #5f3afc;
  --headding-color: #0B2B3C;
  --section-bg: #EAEFF3;
  --btn-color2: #ED2C41;
}
body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: var(--body-color);
	font-weight: normal;
	font-style: normal;
}
a,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
*::-moz-selection {
	background: var(--primary-color);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: var(--primary-color);
	color: #fff;
	text-shadow: none;
}
::selection {
	background: var(--primary-color);
	color: #fff;
	text-shadow: none;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding: 0;
}
h1,h1,h2,h3,h4,h5,h6{
	color: var(--headding-color);
	font-weight: 700;
}
ul{
	margin:0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	transition: .4s;
	-webkit-transition: all .4s ease-in-out;
}
a:hover{
	text-decoration: none;
	color: var(--primary-color);
}
button:focus{
	outline: none;
}
input:focus{
	outline: none;
}
textarea:focus{
	outline: none;
}
p{
	color: var(--main-color);
	line-height: 26px;
}
img{
	max-width:100%;
}
.header{
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text-right {
    text-align: right;
}
.menu ul li {
    display: inline-block;
    margin: 0px 15px;
}
.menu ul li a {
    display: inline-block;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
}
.modal-content {
    text-align: left;
}
.single-input {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.single-input label {
    display: block;
}
.single-input  input {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 8px 14px;
    font-size: 14px;
}
ul.list-group li {
    display: flex;
    justify-content: space-between;
}
.paginations {
	margin-bottom: 30px;
}
.paginations ul li {
    display: inline-block;
    margin: 0px 5px;
}

.paginations ul li a {
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    background: var(--headding-color);
    padding: 6px 20px;
    color: #fff !important;
    font-weight: 600;
}

.paginations ul li.selected a {
    background: var(--primary-color);
}
.paginations ul li.disabled a{
    cursor: no-drop;
}